<h1>Upload CSV file for SKU'S</h1>

<div style="float:left">
  <%= render "csv_upload" %>
</div><br/><br/><br/>
<div style="float:right">
  <%= button_to "Delete all Sku Records", {:controller => "skus", :action => "delete_all" }, :confirm => "Are you sure? All Sku records & Images will be deleted!", :method => "delete" %>
</div><br/><br/><br/>
<div style="float:center">
  <%= button_to "Download all Images", {:controller => "skus", :action => "download_all_images" } %>
</div>
<h1>Listing SKU'S</h1>

<table>
  <tr>
    <th>SKU Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% if @skus.blank? %>
  <tr> <td><b>No SKU records to display!</b></td></tr>
  <% else %>
  <% @skus.each do |sku| %>
  <tr>
    <td><%= sku.code %><form action=<%= "/skus/#{sku.id}/photos" %>
			     class="dropzone" id="my-awesome-dropzone"></form></td>
    <td><%= link_to 'View Uploaded Images', edit_sku_path(sku) %></td>
    <td><%= link_to 'Destroy', sku, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to "Download All", :controller => "skus", :action => "download_all", :id => sku %></td>
  </tr
<% end %>
<% end %>
</table>

<br />

<%#= link_to 'New Sku', new_sku_path %>

<style>

table,th, td
{
border: 1px solid black;
text-align:center;
}
table 
{
width:100%;
}
th
{
height:50px;
}
</style>

<script>
Dropzone.options.myAwesomeDropzone = {
dictDefaultMessage: "Click or Drop images here to upload"
}
</script>
