<!DOCTYPE html>
<html>
<head>
  <title>Uploadify</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "jquery.uploadify.v2.0.0", "swfobject" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div style="float: right"><br/> <%= link_to "Home (Upload CSV / List Sku's)", root_path %> </div>

<%= yield %>
<%= yield :scripts %>

</body>
</html>
